@import './resets';
@import './variables';

@function weight ($weight-name){
    @return map-get($font-weights, $weight-name);
}



body {
    background: $background-color;
    color: $text-color;
}

main {
    #{&}__paragraph {
        font-weight: weight(regular);
    }
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;

}

header {
    color: white;
    background-color: $primary-color;
    padding: 30px;
    ul{
        font-size: 1.2em;
        list-style-type: none;
    }
}
footer {   
    width: 100%;
    align-content: center;
    float:none;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 100px;
}

a {
    color: $blue;
    &:hover{
        color:$accent-color;
    }
}

.app {
    background-color: white;
    max-width: 600px;
    border: $border;
    border-radius: $radius;
    padding: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    h1{
        color:$black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    h2{
        color:$black;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
section{
    margin-top: 10px;
}


.calc-buttons {
    margin-top: 1vh;
    text-align: left;
}

button {
    padding: 1ch;
    border-radius: $radius;
    border: $border;
    background-color: $blue;
    color: $white;
    width: auto;
    &:hover{
        background-color: $accent-color;
    }

}
.half{
    width: 50%;
    float: left;
}

input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    text-align: center;
    max-width: 100%;
}

#answer {
    border-style: dashed;
    font-weight: bolder;
}
#equation {
    color: $black;
}
.input-fields{
    span{
        color: $black;
    }
}
.petinfo{
    color:black;
    vertical-align: middle;
p{
    vertical-align: middle;
}
}



secret{
background-color: black;
    &:hover{
        background-color: unset;
    }
}

#content{

    width: 99%;
}

.card{
    height: 100%;
    h2{
        color:$black;
    }
}

