@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  background: $background-color;
  color: $text-color;
}

main {
  #{&}__paragraph {
    font-weight: weight(regular);
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}

.app {
  background-color:$app-background;
  max-width: 1200px;
  border: $border;
  border-radius: $radius;
  padding: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  h1 {
    color: $white;
    text-transform: uppercase;
    font-family: var(--bs-font-sans-serif);
    padding-bottom: 10px;
    text-transform: uppercase full-width;
  }
}


.inputs{
    line-height: 2rem;
}
section {
  margin-top: 10px;
}

.calc-buttons {
  margin-top: 1vh;
  text-align: left;
  #ClearButton{
    float: right;
  }
}

button {
  padding: 1ch;
  border-radius: $radius;
  border: $border;
  background-color: $button-color;
  color: $white;
  width: 150px;
  margin-bottom: 0.5ch;
  &:hover {
    background-color: $accent-color;
  }
}
.answer {
  background: silver;
}
input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  text-align: left;
  max-width: 100%;
  border-radius: $radius;
}
.input-fields {
  span {
    color: $black;
  }
  margin-bottom: 15px;
}
@keyframes cssAnimation {
  from {
    transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }
  to {
    transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
  }
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
  }
}

/*Toast Notifications*/
#toast {
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: $blue;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: relative;
  z-index: 1;
  font-size: 17px;
  max-width: 1080px;
  bottom: 30px;
  code{
      color:$accent-color;
  }
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s;
  -moz-animation: fadein 0.5s, fadeout 0.5s;
  animation: fadein 0.5s, fadeout 0.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
