 
 $primary-color: #313150;
 $accent-color: orange;
 $background-color:#22272e;
 $app-background:#1e2329;
 $app-text: white;
 $button-color: blue;
 $text-color: white;
 $white: #fff;
 $black: #222;
 $font-weights: (
     "regular": 400,
     "medium": 500,
     "bold": 800
 );
$radius: 6px;
$border: 1px solid #444c56;
$blue: #3389B0;

$small: 375px;
$medium: 1182px;

$card-height: 100%;