 
 $primary-color: #313150;
 $accent-color: #8cc640;
 $background-color:#22272e;
 $app-background:#1e2329;
 $app-text: white;
 $button-color: #2668ad;
 $text-color: white;
 $white: #fff;
 $black: #222;
 $font-weights: (
     "regular": 400,
     "medium": 500,
     "bold": 800
 );
$radius: 6px;
$border: 1px solid #444c56;
$blue: #283c8d;

$small: 375px;
$medium: 1182px;

$card-height: 100%;