$primary-first: #283c8d;
$primary-first-light: #2668ad;
$primary-second: #8cc640;

$main-background: #f9fbff;
$main-background-darker: #c1c9da;

body {
    background: $main-background;
    font-family: 'Poppins', sans-serif;
}

a {
    color: $primary-first-light;
}

a:hover {
    color: $primary-second;
}

a:visited {
    color: $primary-first;
}

hr {
    border-color: $main-background-darker;
    border-style: solid;
}

h1, .app-description {
    margin: 0;
}

button.action-button {
    color: white;
    background-color: $primary-first;
    border-color: $primary-first-light;
    border-radius: 3px;
}

button.text-button {
    text-decoration: underline;
    background: transparent;
    border: none;
    margin:0;
}

button.text-button:hover {
    color: $primary-second;
}

input {
    border-color: $primary-first-light;
    border-radius: 3px;
}

.analyzer-app {
    min-width: 30rem;
    max-width: 40rem;
    margin: 0 auto;
}

.app-input {
    margin: 1rem 0 0 0;
    display: flex;

    .target-url {
        margin-right: 1rem;
        flex: 1 0;
        font-size: 18px;
        padding: 0.4rem
    }

    .action-button {
        padding: 0.4rem;
        font-size: 18px;
    }
}

.analyzer-app-header {
    text-transform: uppercase;
    .header-first-part {
        color: $primary-first;
    }
    .header-second-part {
        color: $primary-first-light;
    }
    .header-third-part {
        color: $primary-second;
    }
}

.analysis-result {
    display: flex;
    .candidate-image-container {
        flex: 0;
        .candidate-image {
            width: 256px;
            object-fit: scale-down;
            margin-right: 0.75rem;  
        }
    }
    .candidate-details-container {
    }

    margin-bottom: 0.75rem;
}

.analysis-error {
    background: #faa;
    padding: 1rem;
}

.app-footer {
    font-size: 14px;
    border-top: 0.25rem solid $main-background-darker;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

.app-options {
    text-align: right;
    margin: 0.25rem 0 1rem 0;
}

.candidate-name {
    font-weight: bold;
}

.alternative {
    font-size: smaller;
}

.app-faq {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;

    li {
        margin: 0;
    }

    .question {
        font-weight: bold;
    }

    .answer {
        margin: 0 0 1rem 0;
    }
}

.app-intranavigation {
    display: flex;
    margin: 0.5rem 0;
    background: $primary-first-light;

    a.intrasite {
        flex: 1;
        padding: 0.5rem;
        background: white;
        justify-content: center;
        display: block;
        text-align: center;
        border-radius: 0.25rem;
    }

    a.intrasite.current {
        color: white;
        background: $primary-first;
        text-decoration: none;
    }

    border: 0.25rem $primary-first solid;
    border-radius: 0.5rem;

}